.aboutBlurb {
  position: absolute;
  bottom: clamp(100px, calc(8% + 18dvh), 499px);
  left: 0;
  max-width: clamp(200px, 37%, 380px);
  pointer-events: auto;

  .aboutBlurbTextWrapper {
   display: flex;
    flex-direction: column;
    gap: min(2cqi, 14px);
    p {
      color: var(--color-text-body);
      text-align: left;
    }
  }
}
