/* ------------------
USE AS THEME FILE!
------------------ */

/* --------- IMPORT THEME FONTS (WIP) --------- */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Outfit:wght@100..900&display=swap");

:root {
  /* --------------------------------------------------- */
  /* --------------------------------------------------- */
  /* ------ VARS N' CRAP, BOOOOOOOOOOOIIIIIIIIIII ------ */
  /* --------------------------------------------------- */
  /* --------------------------------------------------- */

  /* theme colors rough wip */
  
  /* LIGHT VARS + THEIR RICH VERSION FOR LOGO HOVER - WIP!*/
  --light-green: #DAEBC4;
  --rich-light-green: #d1e5b6;
  --light-blue: #8DACC2;
  --rich-light-blue: #65a0ca;
  --light-brown: #A77E58;
  --rich-light-brown: #956d47;
  --green: #A9C08C;
  --rich-green: #9ebf76;
  --light-tan: #F2EEDE;
  --rich-light-tan: #f8f5ed;
  --light-white: #FBF8EF;
  --rich-light-white: #f7f6f0;

  
  /* COLORS W/O RICH, ALWAYS SAME  */
  
  --stroke-black: #22181C;

  /* use of those colors and other things  */

  --color-gradient-top: #d6efff;
  --color-gradient-bottom: #fbf0d6;
  --color-text-title: #4e3e39;
  --color-text-body: #050505;

  --heading: "Cormorant SC", serif;
  --body: "Outfit", sans-serif;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(var(--color-gradient-top), var(--color-gradient-bottom));
}

/* --------------------------------------------------- */
/* ------- REF STUFF THAT I'LL DO/DELETE LATER ------- */
/* --------------------------------------------------- */

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
} */

#root {
  /* width: 1126px; */
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  /* container-type here so cqi units work everywhere downstream */
  container-type: inline-size;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--heading);
  color: var(--color-text-title);
  letter-spacing: 0.2em;
  margin: 0;
}

h1 {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
  font-weight: 400;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0;
}

p {
  margin: 0;
  font-family: var(--body);
  font-size: 1rem;
  font-weight: 300;
}
