/* ------------------
USE AS THEME FILE!
------------------ */

/* --------- IMPORT THEME FONTS (WIP) --------- */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Outfit:wght@100..900&display=swap");

:root {
  /* --------------------------------------------------- */
  /* --------------------------------------------------- */
  /* ------ VARS N' CRAP, BOOOOOOOOOOOIIIIIIIIIII ------ */
  /* --------------------------------------------------- */
  /* --------------------------------------------------- */

  /* sky gradient  */
  --sky-blue: #d6efff;
  --sky-tan: #fbf0d6;

  /* boat fills */
  --light-green: #daebc4; /* tee green / treetop */
  --green: #a6bba0; /*  / hill */
  --light-blue: #8c9bcf; /* cool steel */
  --dark-blue: #253c78; /* regal navy */
  --light-brown: #ac8c72; /* trunk + boat inner */
  --light-tan: #f2eede; /* sail + boat exterior LIGHTENS */
  --light-white: #f9f4f1; /* boat exterior */

  /* dark stuff  */
  --stroke-black: #182026;
  --truer-black: #0e1012; /* use sparingly */
  --color-text-title: #423c38;
  --color-text-body: #050505;
  --straw-gold: #e6c960;

  /* ------------------ OTHER VARS ------------------ */

  --heading: "Cormorant SC", serif;
  --body: "Outfit", sans-serif;

  /* ------------------------------------------ */
  /* ------------------------------------------ */

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(var(--sky-blue), var(--sky-tan));
}

/* --------------------------------------------------- */
/* ------- REF STUFF THAT I'LL DO/DELETE LATER ------- */
/* --------------------------------------------------- */

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
} */

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4
{
  margin: 0;
  font-family: var(--heading);
  color: var(--color-text-title);
  line-height: 1.1em;
  text-wrap: balance;
}

h5, h6 {
  margin: 0;
  font-family: var(--body);
  color: var(--color-text-title);
  line-height: 1.1em;
  text-wrap: balance;
}

h1 {
  font-size: clamp(1.25rem, 3.2vw, 1.75rem);
  letter-spacing: 0.2em;
  font-weight: 500;
}

h2 {
  font-size: clamp(1.15rem, 2.8vw, 1.6rem);
  letter-spacing: 0.15em;
  font-weight: 500;
  margin: 0;
}

h3 {
  font-size: clamp(1.075rem, 2.4vw, 1.5rem);
  letter-spacing: 0.1em;
  font-weight: 500;
}

/* rants disclaimer */
h5 {
  font-size: clamp(11px, 1.7cqi, 13px);
  font-weight: 400;
  font-family: var(--body);
  margin: 0;
}
h6 {
  font-size: clamp(9px, 1.4cqi, 11px);
  font-weight: 400;
  font-family: var(--body);
  margin: 0;
}


p {
  margin: 0;
  font-family: var(--body);
  font-size: clamp(13px, calc(4px + 1cqi + 0.3vw), 16px);
  font-weight: 300;
  line-height: 1.1em;
  text-wrap: pretty;
}
